.c {
  width: 10px;
  height: 10px;
  font-size: 6px;
  line-height: 8px;
  text-align: center;
  border: 1px solid grey;
}

#matrix {
  transform-origin: 0 0;
  padding: 20px;
  background-color: #000;
}

#matrix.zoomout{
  transform: scale3d(0.3,0.3,1);
}

.guidelines .row:nth-child(8n){
  border-bottom: 1px solid grey;
}

.colorpicker{
    background-color: #FFF;
    border: solid 1px #ECECEC;
}

section{
    margin-bottom: 1em;
}

h2{
    margin: 0;
}

.md-headline{
    font-weight: bold;
}

.queue-item {
    border-top: 1px solid rgba(0,0,0,0.12);
}

.queue-item.current {
    font-style: italic;
}

.color-swatch {
    border: 1px solid rgba(0,0,0,0.12);
    width: 18px;
    height: 16px;
    display: inline-block;
}

@media (max-width: 480px) {
    .sp-palette {
        max-width: 90px;
    }
}